<!doctype html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}

    {% endblock meta %}
    <title>{% block title %}{% endblock title %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
          rel="stylesheet" type="text/css"/>
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">


    {% block links %}


    {% endblock links %}

</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #292424 ;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage' %}">
            <img src="{% static 'icons/favicon2.png' %}" alt="baranjam icon" height="50" width="50">
        </a>
        <a class="navbar-brand text" href="{% url 'homepage' %}" style="color:#f4623a;">{% trans 'BarAnjam' %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       href="{% url 'user_todos' %}" style="font-size: 18px;">{% trans 'My todo lists' %}</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{% url 'dashboard' %}" style="font-size: 16px;">{% trans 'Dashboard' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{% url 'profile' %}">{% trans 'Profile' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{% url 'group_lists' %}">{% trans 'Group todos' %}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link " aria-current="page"
                       href="{% url 'about_us' %}">{% trans 'About me' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page"
                       href="{% url 'contact_us' %}">{% trans 'Contact me' %}</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    {% get_current_language as LANGUAGE %}

                    <li class="nav-item dropdown me-3 align-self-center">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="fas fa-solid fa-inbox text-white " style="font-size: 18px;"></i><span
                                class="badge badge-info rounded-circle">{{ inbox|length }}</span>
                        </a>
                        <ul class="dropdown-menu text-center" {% if LANGUAGE == 'fa' %} dir="rtl" {% endif %}>
                            {% if inbox %}

                                {% for inv in inbox %}
                                    <form action="{% url 'accept_inv' inv.group_list.id inv.id %}" method="post">
                                        {% csrf_token %}
                                        <div class="ml-2">
                                            <li>
                                                {% trans 'from' %}: {{ inv.user_sender }}<br>
                                                {% trans 'group-list' %}: {{ inv.group_list.todo.name }}
                                                <button type="submit" class="float-end btn btn-sm btn-success">{% trans 'join' %}
                                                </button>
                                            </li>


                                        </div>
                                    </form>

                                {% endfor %}
                            {% else %}
                                {% trans 'nothing here' %}
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}


                <li class="nav-item no-arrow mr-3 align-self-center">
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="/"/>

                        <select class="form-select bg-dark text-light" name="language" style="width: auto; "
                                onchange="this.form.submit()">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}

                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                        selected {% endif %}>

                                    {{ language.code }}
                                </option>

                            {% endfor %}
                        </select>
                    </form>
                </li>

                <!-- Nav Item - User Information -->

                <li class="nav-item dropdown no-arrow">
                    {% if user.is_authenticated %}
                        {% if user.profile_picture %}
                            <a href="{% url 'profile' %}"><img class="rounded-circle mr-2"
                                                               src="{{ user.profile_picture.url }}" width="50"></a>


                        {% else %}
                            <a href="{% url 'profile' %}">
                                <img class="rounded-circle mr-2 " src="{% static 'img/blank_user.png' %}"
                                     width="50"></a>

                        {% endif %}
                        <a href="{% url 'account_logout' %}" class="btn btn-outline-danger">{% trans 'Logout' %}</a>

                    {% else %}

                        <a href="{% url 'account_login' %}" class="btn btn-outline-warning me-3">{% trans 'Login' %}</a>
                        <a href="{% url 'account_signup' %}" class="btn btn-outline-success">{% trans 'Signup' %}</a>


                    {% endif %}
                </li>

            </ul>

        </div>
    </div>
</nav>
{% if messages %}
    <div class="container mt-3 bg-transparent text-dark fw-bold">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} text-center">{{ message|safe }}</div>
        {% endfor %}
    </div>
{% endif %}

{% block content %}


{% endblock content %}


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>


<script src="{% static 'assets/script.js' %}"></script>
<script src="{% static 'assets/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery.js' %}"></script>

{% block script %}



{% endblock script %}

</body>
</html>