{% extends '_base.html' %}
{% load i18n %}
{% load static %}

{% block meta %}
    <meta name="description" content="a Way To know me More ">
{% endblock meta %}

{% block title %}{% trans 'About me' %} {% endblock title %}
{% block content %}

    <div class="bg-light">
        <div class="container py-5">
            <div class="row h-100 align-items-center py-5">
                <div class="col-lg-6">
                    <h1 class="display-4">Hi</h1>
                    <p class="lead text-muted mb-0">my name is <u>amin</u> and im a student.</p>

                </div>
                <div class="col-lg-6 d-none d-lg-block"><img
                        src="{% static 'img/abt_us1.png' %}"
                        alt="" class="img-fluid"></div>
            </div>
        </div>
    </div>


    {% include 'footer.html' %}
{% endblock content %}