{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block meta %}
    <meta name="description" content="share your criticisms and suggestions with me">
{% endblock meta %}


{% block title %}Contact me{% endblock title %}


{% block content %}
    <h1 class="text-center mt-3">Contact us</h1>
    <div class="container">
        <div class="row" dir="rtl">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

    <h1 class="text-center text-muted">You can contact me using : <br> maf081378@gmail.com <br><a
            href="https://github.com/aminm08">my github account</a></h1>
    {% include 'footer.html' %}
{% endblock content %}