{#<body id="page-top">#}
{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load persian_trans_tags %}
{% load jalali_tags %}
{% load dashboard_tags %}

{% block title %}Your Baranjam dashboard{% endblock title %}


{% block content %}
    <!-- Card Body -->
    <style>


        .order-card {
            color: #fff;
        }

        .bg-c-blue {
            background: linear-gradient(45deg, #4099ff, #73b4ff);
        }

        .bg-c-green {
            background: linear-gradient(45deg, #2ed8b6, #59e0c5);
        }

        .bg-c-yellow {
            background: linear-gradient(45deg, #FFB64D, #ffcb80);
        }

        .bg-c-pink {
            background: linear-gradient(45deg, #FF5370, #ff869a);
        }


        .card {
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
            box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
            border: none;
            margin-bottom: 30px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        .card .card-block {
            padding: 25px;
        }

        .order-card i {
            font-size: 26px;
        }

        .f-left {
            float: left;
        }

        .f-right {
            float: right;
        }
    </style>

    {% get_current_language as LANGUAGE %}
    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4" dir="rtl">
            <h1 class="h3 mb-0 text-gray-800 align-self-end py-4">{% trans 'Dashboard' %}</h1>

        </div>
        <div class="row justify-content-start">
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-blue order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">{% trans "All tasks done" %}</h6>
                        <h2 class="text-right"><i
                                class="fas fa-tasks f-left"></i><span>{{ user.all_jobs_done }}</span></h2>
                        {#                        <p class="m-b-0">{% trans "Completed jobs" %}<span class="f-right">{{ user.all_jobs_done }}</span></p>#}
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-green order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">{% trans "Today tasks done" %}</h6>
                        <h2 class="text-right"><i
                                class="fa fa-rocket f-left"></i><span>{{ user.get_user_today_completed_tasks|length }}</span>
                        </h2>

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-yellow order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">{% trans "Today status" %}</h6>
                        <h2 class="text-right"><img src="/static/icons/{{ arrow }}.png"
                                                    alt="arrow icon" width="30"
                                                    height="30" class="f-left"><span style="font-size: 18px;"
                                                                                     class="">{{ status }}</span>
                        </h2>

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-pink order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">{% trans "Today hours spent" %}</h6>
                        <h2 class="text-right"><i class="fas fa-solid fa-clock f-left"></i><span>486</span></h2>

                    </div>
                </div>
            </div>


            <div class="col-md-9">

                <div class="card">
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myAreaChart"></canvas>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-left-info shadow ">
                    <div class="card-header">
                        <h6 class=" font-weight-bold text-primary">{% trans 'most productive day' %}</h6>
                    </div>
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col">
                                <div class="row no-gutters align-items-start">
                                    <div class="text-center">
                                        <img src="{% static 'icons/accept.png' %}" alt="check icon" width="75"
                                             height="75" class="mr-3 mb-2">
                                    </div>
                                    <div class="col font-weight-bold text-success ml-4">
                                        {% if LANGUAGE == 'fa' %}
                                            {{ pd_date|to_jalali:'%Y %B %d' }}{% else %}
                                            {{ pd_date }}{% endif %}

                                    </div>
                                    <div class="col font-weight-bold text-success ml-4">
                                        {% if LANGUAGE == 'fa' %}
                                            {{ pd_count }} :{% trans "tasks done" %}
                                        {% else %}
                                            {% trans "tasks done" %}: {{ pd_count }}
                                        {% endif %}
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">

                <div class="card">
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="barChart"></canvas>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-lg-6">
                <div class="card shadow ">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">{% trans 'Your todos' %}</h6>
                    </div>
                    <div class="card-body">
                        {% for todo in todos %}
                            {% if todo.complete_rate != None %}
                                <h4 class="small font-weight-bold text-muted float-start"><a
                                        href="{{ todo.get_absolute_url }}">{{ todo.name }}</a></h4>
                                <p class="text-muted font-weight-bold small text-right">{{ todo.complete_rate }}%</p>
                                <div class="progress mb-4 mt-1">
                                    <div class="progress-bar bg-info " role="progressbar"
                                         style="width:{{ todo.complete_rate }}%"
                                         aria-valuenow="{{ todo.complete_rate }}" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>

                            {% endif %}
                        {% endfor %}


                    </div>
                </div>
            </div>

            {% if spent_h or spent_m %}

                <div class="col-md-3 mt-2 ">
                    <div class="card border-left-info shadow ">
                        <div class="card-header">
                            <h6 class=" font-weight-bold text-primary"><i
                                    class="fas fa-solid fa-clock text-info"> {% trans "Spent time" %}</i>
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col">
                                    <div class="row no-gutters align-items-start">
                                        <div class="col font-weight-bold text-success ml-4">

                                            <p class="text-center"> {% if spent_h %} {{ spent_h }} hours {% endif %}
                                                {% if spent_m %} {{ spent_m }} minutes {% endif %}</p>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}


        </div>

    </div>


    <br><br>


{% endblock content %}

{% block script %}
    <!-- Bootstrap core JavaScript-->



    <!-- Core plugin JavaScript-->
    <script src="{% static  'vendor/jquery-easing/jquery.easing.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.js' %}"></script>

    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/chart-area-demo.js' %}"></script>
    {#    <script src="/static/js/demo/chart-pie-demo.js"></script>#}

    <script language="JavaScript">

        // Area Chart Example
        var ctx = document.getElementById("myAreaChart");
        var area = document.getElementById("barChart");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ labels|safe }},
                datasets: [{
                    label: "tasks done ",
                    lineTension: 0.3,
                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                    borderColor: "rgb(244,98,58)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgb(16,16,19)",
                    pointBorderColor: "rgb(16,16,19)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgb(16,16,19)",
                    pointHoverBorderColor: "rgb(16,16,19)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    data: {{ data|safe }},
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 7
                        }

                    }],
                    yAxes: [{
                        ticks: {

                            maxTicksLimit: 5,
                            padding: 10,
                            beginAtZero: true,

                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: false
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + '' + number_format(tooltipItem.yLabel);
                        }
                    }
                }
            }
        });

        var BarChart = new Chart(area, {
            type: 'bar',
            data: {
                labels: {{ labels|safe }},
                datasets: [

                    {
                        label: "hours spent ",
                        data: {{ spent_time|safe }},
                        borderColor: "rgb(0,255,255)",
                        backgroundColor: "rgb(0,255,255)",
                    },
                ],
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Bar Chart'
                    }
                }
            },
        });


    </script>

{% endblock script %}

