{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load persian_trans_tags %}
{% load jalali_tags %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load dashboard_tags %}

{% block title %}{% trans 'baranjam dashboard' %}{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    {{ apply_date_form.media }}
{% endblock links %}
{% block content %}


    {% get_current_language as LANGUAGE %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800 py-4">{% trans 'Dashboard' %}
                <span class="badge bg-info f-13">
                    {% trans 'shown data for' %}:{{ general_date_jalali }}
                </span>
            </h1>

            <div class="justify-content-end ">
                <button type="button" class="btn btn-primary f-14" data-bs-toggle="modal"
                        data-bs-target="#date_range_modal" id="date-range-btn">
                    {% trans 'Select date Range' %}
                </button>
            </div>
        </div>


        <div class="row justify-content-start">
            <div class="col-md-4 col-xl-3">
                <div class="dashboard-card bg-c-blue order-card">
                    <div class="card-block">
                        <h6>{% trans "All tasks done" %}</h6>
                        <h2 class="text-end">
                            <i class="fas fa-tasks f-left mt-2"></i><span>{{ all_tasks_done_in_range }}</span>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xl-3">
                <div class="dashboard-card bg-c-green order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">{% trans "Tasks done" %}
                            <span class="float-end f-14">{{ general_date|simplify_date }}</span>
                        </h6>
                        <h2 class="text-end"><i
                                class="fa fa-rocket f-left mt-2"></i><span>{{ tasks_done_in_general_date }}</span>
                        </h2>

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xl-3">
                <div class="dashboard-card bg-c-yellow order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">{% trans "All hours spent" %}</h6>
                        <h2 class="text-end"><i
                                class="fas fa-solid text-white fa-clock f-left mt-2"></i>{{ total_hours_spent|extract_hours_and_minutes }}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="dashboard-card bg-c-pink order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">{% trans "Hours spent" %}
                            <span class="float-end f-14">{{ general_date|simplify_date }}</span>
                        </h6>
                        <h2 class="text-end">
                            <i class="fas fa-solid fa-clock f-left mt-2"></i>
                            <span>
                                {{ hours_spent_in_general_date|extract_hours_and_minutes }}
                            </span>
                        </h2>

                    </div>
                </div>
            </div>

            {% if job_status %}
                <div class="col-md-4 col-xl-3">
                    <div class="dashboard-card bg-c-l-blue order-card">
                        <div class="card-block">
                            <h6>{% trans "Jobs status" %}
                                <span class="f-14"> ({{ general_date|simplify_date }})</span>
                                <span class="float-end">{{ job_status|first }}%</span>
                            </h6>
                            <h2 class="text-end"><img
                                    src="/static/icons/{{ job_status|get_obj_by_index:1|get_status_arrow }}.png"
                                    alt="arrow icon" width="30"
                                    height="30" class="f-left mt-2">
                                <span style="font-size: 15px;">
                                    {{ job_status|get_obj_by_index:1|get_verbose_status:'jobs' }}
                                </span>
                            </h2>

                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="col">
                <div class="dashboard-card shadow ">
                    <div class="card-body bg-c-gr radius-5">
                        <button type="button" class="btn btn-primary float-end btn-sm mt-2 mx-2 f-12"
                                data-bs-toggle="modal"
                                data-bs-target="#goals_modal">
                            {% trans ' Manage goals' %}
                        </button>
                        {% if goals_progress and user_goals %}
                            <button type="button" class="btn btn-danger dropdown-toggle btn-sm float-end mx-2 mt-2 f-12"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                {% trans "Choose" %}
                            </button>
                            <ul class="dropdown-menu">
                                {% for user_goal in user_goals %}
                                    <div class="dropdown-item">
                                        <input type="radio"
                                               onclick="goal.setId({{ user_goal.id }})" name="choose-goal"
                                               id="choose-goal-inp"
                                                {% if user_goal == user_goals|first %} checked {% endif %}>
                                        <label class="f-14">
                                            {{ user_goal.get_measure_display }}: {{ user_goal.jobs }}, {{ user_goal.hours }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </ul>
                            <div class="row">
                                <h4 class="small text-white text-center fw-bold mt-2" id="measure-header"></h4>
                                <div class="col">

                                    <h4 class="small font-weight-bold  float-start" id="goal-type-header">
                                        {% trans "Jobs" %}
                                    </h4>
                                    <p class=" font-weight-bold small text-end"
                                       id="job-progress"></p>
                                    <div class="progress mb-4 mt-1">
                                        <div id="bar-job" class="progress-bar bg-primary " role="progressbar"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>


                                <div class="col">

                                    <h4 class="small font-weight-bold  float-start" id="goal-type-header">
                                        {% trans "Hours" %}
                                    </h4>
                                    <p class="text-success font-weight-bold small text-end"
                                       id="hour-progress"></p>
                                    <div class="progress mb-4 mt-1">
                                        <div id="bar-hour" class="progress-bar bg-primary " role="progressbar"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>


                            </div>

                        {% else %}
                            <div id="no-goal-container">
                                <br><br>
                                <h5>{% trans 'No goal created' %}</h5>

                            </div>



                        {% endif %}

                    </div>
                </div>
            </div>
            {% if hour_status %}

                <div class="col-md-4 col-xl-3">
                    <div class="dashboard-card bg-c-l-cr order-card">
                        <div class="card-block">
                            <h6 class="m-b-20">{% trans "Hours status" %}
                                <span class="f-14"> ({{ general_date|simplify_date }})</span>
                                <span class="float-end">{{ hour_status|first }}%</span></h6>
                            <h2 class="text-end">
                                <img src="/static/icons/{{ hour_status|get_obj_by_index:1|get_status_arrow }}.png"
                                     alt="arrow icon" width="30"
                                     height="30" class="f-left mt-2">
                                <span class="f-14">
                                                 {{ hour_status|get_obj_by_index:1|get_verbose_status:'hours' }}
                                </span>
                            </h2>

                        </div>
                    </div>
                </div>
            {% endif %}

            {% if done_jobs_count_per_day_in_range %}
                <div class="col-md-9 ">
                    <div class="dashboard-card">
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myAreaChart"></canvas>
                            </div>
                        </div>

                    </div>
                </div>
            {% endif %}

            {% if most_productive_day_info %}

                <div class="col-md-3 col-xl-3">
                    <div class="dashboard-card bg-c-gr order-card">
                        <div class="card-block">
                            <h6 {% if LANGUAGE == 'fa' %}class="text-end"{% endif %}>{% trans "Most productive day" %}</h6>
                            <h2 class="text-end"><i
                                    class="fa fa-check f-left"></i><span
                                    style="font-size: 16px;">{{ most_productive_day_info|first }}</span>
                            </h2>
                            <p>{% trans "Spent hours" %}<span
                                    class="f-right">{{ most_productive_day_info|get_obj_by_index:1 }}h</span></p>
                            <p>{% trans "Tasks done" %}<span
                                    class="f-right">{{ most_productive_day_info|get_obj_by_index:2 }}</span></p>


                        </div>
                    </div>
                </div>
            {% endif %}
            {% if spent_time %}

                <div class="col-md-6">

                    <div class="dashboard-card">
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="barChart"></canvas>
                            </div>
                        </div>

                    </div>
                </div>
            {% endif %}

            {% if  general_date_done_jobs_titles and general_date_hours_spent_per_job %}
                <div class="col-md-6">
                    <div class="dashboard-card">
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="doughnutChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

            <div class="col-lg-6">
                <div class="dashboard-card shadow ">
                    <div class="card-header py-3 px-3">
                        <h6 class=" font-weight-bold text-primary">{% trans 'Your todos' %}</h6>
                    </div>
                    <div class="card-body px-3 ">
                        {% if todos %}
                            {% for todo in todos %}
                                {% if todo.complete_rate %}
                                    <h4 class="small font-weight-bold text-muted float-start">
                                        <a class="text-primary"
                                           href="{{ todo.get_absolute_url }}">{{ todo.name }}</a></h4>
                                    <p class="text-muted font-weight-bold small text-end">{{ todo.complete_rate }}%</p>
                                    <div class="progress mb-4 mt-1">
                                        <div class="progress-bar bg-info " role="progressbar"
                                             style="width:{{ todo.complete_rate }}%"
                                             aria-valuenow="{{ todo.complete_rate }}" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>


                                {% endif %}
                            {% endfor %}
                            <br>
                        {% else %}
                            <div id="no-todo-container">

                                <h5>{% trans 'No todo created' %}</h5>
                            </div>


                        {% endif %}

                    </div>
                </div>
            </div>


            <!-- date change modal -->
            <div class="modal fade" id="date_range_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{% trans 'Select date range' %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="GET" {% if LANGUAGE == 'fa' %} dir="rtl" {% endif %}>


                                {{ apply_date_form|crispy }}
                                <button type="button" class="btn btn-info"
                                        onclick="clearInputs()">{% trans "Clear inputs" %}</button>
                                <hr>
                                <div class="float-right">

                                    <button type="submit" class="btn btn-primary">{% trans "Apply" %}</button>
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">{% trans "Close" %} </button>
                                </div>


                            </form>
                        </div>


                    </div>
                </div>
            </div>

            <!-- goals modal -->
            <div class="modal fade" id="goals_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{% trans 'Add goals' %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% if user_goals %}
                                <h4>{% trans 'Your current goals' %}</h4>
                                <ul class="list-group">
                                    {% for goal in user_goals %}

                                        <li class="list-group-item ">
                                            <div class="row align-items-center">
                                                <form action="{% url 'goal_delete' goal.id %}" method="post"
                                                      class="col-2 text-center">
                                                    {% csrf_token %}
                                                    <button class="text-danger border-0 bg-transparent f-12">
                                                        &#10060;
                                                    </button>
                                                </form>
                                                <span class="badge bg-info col-2">{{ goal.get_measure_display }}</span>
                                                <span class="col f-14">{% trans 'Jobs target' %}: {{ goal.jobs }}</span>
                                                <span class="col f-14">{% trans 'Hours target' %}: {{ goal.hours }}</span>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>


                                <hr>
                            {% endif %}
                            <form method="post" action="{% url 'goal_create' %}">
                                {% csrf_token %}
                                <div class="row ">
                                    <div class="mt-1">

                                        <label for="id_measure" class="form-label requiredField">
                                            {% trans 'Measures of your goal' %}
                                        </label>
                                        <select name="measure" id="id_measure" class="select form-select" required>
                                            <option disabled selected>------------</option>
                                            <option value="d" class="p-2">{% trans 'Daily' %}</option>
                                        </select>
                                    </div>
                                    <div class="col mt-2">
                                        <label for="id_jobs"
                                               class=" form-label requiredField">{% trans 'Job target' %}</label>
                                        <input type="number" name="jobs" class=" form-control col p-2" id="id_jobs"
                                               required>
                                    </div>
                                    <div class="col mt-2">

                                        <label for="id_hours"
                                               class=" form-label requiredField">{% trans 'Hour target' %}</label>
                                        <input type="number" name="hours" class=" form-control col p-2" id="id_hours"
                                               required>
                                    </div>
                                </div>


                                <hr>
                                <div class="float-right">

                                    <button type="submit" class="btn btn-primary">{% trans "Add" %}</button>
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">{% trans "Close" %} </button>
                                </div>


                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>


    <br><br>


{% endblock content %}

{% block script %}



    <!-- Core plugin JavaScript-->

    <script src="{% static 'vendor/chart.js/Chart.js' %}"></script>


    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <script src="{% static 'assets/chart-area-demo.js' %}"></script>
    {# d3 scale chromatic #}
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <script src="{% static 'js/color_generator.js' %}"></script>
    <script src="{% static 'js/dashboard_charts.js' %}"></script>
    <script src="{% static 'js/dashboard_script.js' %}"></script>

    <script language="JavaScript">

        setupBarChart({{ jalali_done_dates_in_range|safe }}, {{ spent_time|safe }});
        setupLinearChart({{ jalali_done_dates_in_range|safe }}, {{ done_jobs_count_per_day_in_range|safe }});
        setupDoughnutChart({{ general_date_done_jobs_titles|safe }}, {{ general_date_hours_spent_per_job|safe }});


        const goal = new Goal({{ goals_progress|safe }});
        goal.insert_data();
        console.log("created");


    </script>

{% endblock script %}

