{% extends '_base.html' %}

{% load i18n %}
{% load static %}
{% block meta %}
    <meta name="description" content="">
{% endblock meta %}
{% block title %}Baranjam. manage all your activities during the day{% endblock title %}

{% block links %}


    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
          rel="stylesheet" type="text/css"/>
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
{% endblock links %}


{% block content %}

    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">{% trans 'Welcome to BarAnjam' %}</h1>
                    <hr class="divider"/>
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">{% trans 'BarAnjam is a free app that you can use to manage your activities during the day' %}</p>
                    <a class="btn btn-primary btn-xl" href="{% url 'user_todos' %}">{% trans 'Start' %}</a>
                </div>
            </div>
        </div>
    </header>


    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">We've got what you need!</h2>
                    <hr class="divider divider-light"/>
                    <p class="text-white-75 mb-4">{% trans 'use baranjam to have complete control on your tasks and activities during the day.' %}</p>
                    <a class="btn btn-light btn-xl"
                       href="{% url 'user_todos' %}">{% trans "Get started--it's free!" %}</a>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section bg-dark text-white" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">{% trans 'At Your Service' %}</h2>
            <hr class="divider"/>
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">{% trans 'Planning' %}</h3>
                        <p class="text-muted mb-0">{% trans 'Long-term and daily planning' %}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">{% trans 'Statistics' %}</h3>
                        <p class="text-muted mb-0">{% trans 'get to know your impact during the day, week and year' %}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">{% trans 'Available everywhere' %}</h3>
                        <p class="text-muted mb-0">{% trans 'You can use this webApp from any device just by loging in' %}
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">{% trans 'Made with Love' %}</h3>
                        <p class="text-muted mb-0">{% trans "Is it really open source if it's not made with love?" %}</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    {% include 'footer.html' %}



{% endblock content %}