@charset "UTF-8";

/* basic configuration */
:root {
    --bs-primary: #f4623a;
    --bs-primary-rgb: 244, 98, 58;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}


body {
    margin: 0;
    font-family: Vazirmatn, sans-serif;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
}

.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.form-check-input[type=checkbox] {
    border-radius: 0.25em;
}

.form-check-input:active {
    filter: brightness(90%);
}

.form-check-input:focus {
    border-color: #fab19d;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(244, 98, 58, 0.25);
}

.form-check-input:checked {
    background-color: #f4623a;
    border-color: #f4623a;
}


.text-white-75 {
    color: rgba(255, 255, 255, 0.75) !important;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

.btn-primary {
    color: #fff;
    background-color: #f4623a;
    border-color: #f4623a;
}

.btn-primary:hover {
    color: #fff;
    background-color: #cf5331;
    border-color: #c34e2e;
}

.btn-outline-primary {
    color: #f4623a;
    border-color: #f4623a;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #f4623a;
    border-color: #f4623a;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.circular--landscape {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
}

.unlink {
    text-decoration: none;
}

.dropdown-toggle::after {
    display: none;
}

.arrow-padding {
    -moz-padding-start: 30px;
}

.f-12 {
    font-size: 12px;
}

.f-13 {
    font-size: 13px;
}

.f-14 {
    font-size: 14px;
}

.f-18 {
    font-size: 18px;
}


.radius-5 {
    border-radius: 5px;
}

/* navbar */
#nav {
    background-color: #292424;
    white-space: nowrap;
}

/* home page */
hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
}

hr.divider-light {
    background-color: #fff;
}

header.masthead {
    padding-top: 11rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/bg-masthead.jpg") no-repeat center scroll;
    background-size: cover;

}


.page-section {
    padding: 8rem 0;
}


.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

.center-container {
    margin: 80px auto 0;
}

.center-btn {
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
}

.center-image {
    display: block;
    margin: 0 auto;
}

/* profile */

.profile_image {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;

}

/* authentication */
.icon {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
}

.right-placeholder input::placeholder {
    text-align: right;
}


/* user todos */


@media only screen and (max-width: 580px) {
    #finished-container {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    #user-todos-title {
        font-size: 1.1rem;
    }

    #add-list-btn {
        font-size: .75rem;
    }
}


/* todo main page */

#list-card-container {
    border-radius: 5px;
    background-color: #e2e4e5;
}


#input-container input {
    border: #f4623a solid 2px;
}

#input-container input::placeholder {

    align-self: center;
}

#todo-add-btn {
    padding-right: .5rem;
    padding-left: .5rem;
    width: 100%;
}

#todo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


#job-duration, #user-date {
    width: 15%;
}

.todo-text {
    font-size: 1.1rem;
    font-weight: 500;
    color: #000000
}

@media only screen and (max-width: 460px) {
    #todo-add-btn {
        font-size: 12px;

    }
}

@media only screen and (max-width: 770px) {
    #job-duration, #user-date {
        font-size: .8rem;

    }
}


@media only screen and (max-width: 555px) {
    .todo-text {
        font-size: .95rem;

    }

    #todo-info {
        font-size: .73rem;
    }

    #job-duration, #user-date {
        font-size: .76rem;

    }

}

@media only screen and (max-width: 440px) {
    .todo-text {
        font-size: .87rem;

    }

    #todo-info {
        font-size: .7rem;
    }

    #job-duration, #user-date {
        font-size: .73rem;

    }

}


/* user group lists */

#members-badge {

    padding: 10px 15px 0 0;
}

#badge-on-title {
    display: none;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 1px 3px;
}

@media only screen and (max-width: 545px) {
    #members-badge {
        font-size: 12px;
    }

    #group-title {
        font-size: 14px;
    }
}

@media only screen and (max-width: 522px) {
    #members-badge {
        display: none;
    }

    #badge-on-title {
        display: inline;
    }

    #group-pic {
        width: 55px;
        height: 55px;
    }

}

@media only screen and (max-width: 430px) {
    #btn-options {
        width: 72px;
        font-size: 14px;
        padding-right: 6px;
        padding-left: 6px;
    }

}

/* group detail */
#inv-link {
    font-size: 13px;
    border-radius: 5px;
    padding: 8px 10px;
}

#btn-copy {
    width: auto;
    font-size: 14px;
    padding: 5px 12px;
    margin-right: 20px;
    border: 5px solid white;
    border-radius: 5px;
}

#btn-copy:hover {
    background-color: #ededed;
}

#hr-custom {
    height: 0.15rem;
    width: 100%;
    margin: 1rem auto;
    background-color: #f4623a;
    opacity: 1;

}

#job-badge-on-title {
    display: none;
}

@media only screen and (max-width: 445px) {
    #job-badge {
        display: none;
    }

    #job-badge-on-title {
        display: inline;
    }
}

#chat-item-container {
    max-height: 220px;
    overflow-y: auto;
}

.chat-user-image {
    margin: 4px 5px;
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;

}

#chat-box-this-user {
    background-color: rgba(130, 243, 183, 0.72);
    padding: 5px;
    margin-right: 5px;
    width: auto;
    max-width: 200px;
}

#chat-box-other-user {
    background-color: rgba(47, 193, 239, 0.68);
    padding: 5px;
    margin-left: 5px;
    width: auto;
    max-width: 200px;
}


#online-users-container {
    max-height: 205px;
    overflow-y: auto;
    overflow-x: auto;
}

#result-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

#search-result-img {
    padding: 5px 10px 0;
}

/* invitation */
.inv-container {
    font-size: 14px;
    margin: 4px;
}

.inv-container * {
    padding: 2px 3px;
}

.inv-container button {
    border-radius: 50%;
    display: inline;

}

.inv-container .inv-btn {
    margin-left: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;


}

