{% extends '_base.html' %}


{% load static %}
{% load i18n %}

{% block links %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
{% endblock links %}

{% block title %}{{ todo.name }}{% endblock title %}


{% block content %}

    {% get_current_language as LANGUAGE %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6  center-container">

                <div class="card shadow">
                    <div id="setting_title">

                        <p class="text-center fw-bolder mt-2"
                           style="font-size: 18px;" id="p_title">{% if LANGUAGE != 'fa' %}
                            ( {{ todo.name }} ) {% trans 'settings' %}
                        {% else %}
                            {% trans 'settings' %} ( {{ todo.name }} )
                        {% endif %}
                            <button class="bg-transparent border-0 text-info" id="edit_button"><i class="fas fa-edit"
                                                                                                  id="icon"></i>
                            </button>
                        </p>
                    </div>
                    <div style="display: none;" id="update_name_form" class="mr-auto ml-auto mt-2">

                        <p class="mt-2" style="display: None;">
                        <form action="{% url 'update_todo_name' todo.id %}" method="post" class="ml-auto mr-auto">
                            {% csrf_token %}
                            <input type="text" name="name" class="form-control-sm" value="{{ todo.name }}">
                            <button type="submit" id="update_button"><i class="fa fa-sync-alt"></i></button>

                        </form>
                        </p>
                    </div>
                    <p class="text-center"><span class="text-success fw-bolder ml-2">{% trans 'owner' %}

                    </span>:
                        {% if todo.user.profile_pic %}

                            <img src="{{ todo.user.profile_pic.url }}" alt="todo user profile" width="40" height="40">
                        {% else %}
                            <img src="{% static 'img/blank_user.png' %}" alt="blank user profile" width="40"
                                 height="40">
                        {% endif %} {{ todo.user }}</p>


                </div>


            </div>
        </div>
    </div>

    <script src="{% static 'js/todo_settings.js' %}"></script>

{% endblock content %}


