{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load jalali_tags %}
{% load persian_trans_tags %}




{% block title %}<<{{ todo.name }}>> your baranjam list{% endblock title %}



{% block content %}
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>

    <section class="vh-100" style="font-family:'Helvetica Neue';">
        <div class=" container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100 ">
                <div class="col">
                    <div class="card rounded-2" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                        <div class="card-body py-4 px-4 px-md-5" style="background-color: #f4623a">

                            <p class="h1 text-center mt-3 mb-4 pb-3 text-dark">
                                <i class="fas fa-check-square me-1"></i>
                                {{ todo.name|capfirst }}
                            <p class="text-muted text-center">{% trans 'my todo-s' %}</p>


                            <div class="pb-2">
                                <div class="card">
                                    <div class="card-body">
                                        <form action="{% url 'job_create' todo.id %}" class="form-inline d-flex"
                                              method="post">
                                            {% csrf_token %}
                                            {{ form.media }}

                                            <div class="col">
                                                {{ form.errors }}
                                                <input type="text" class="form-control form-control-lg  border-dark"
                                                       placeholder="{% trans 'Add new job' %}" name="text" required>

                                            </div>
                                            <div class="datetime col ">

                                                date:
                                                <input type="text" name="user_date"
                                                       class="jalali_date-date form-control border-dark mr-3" size="10"
                                                       id="id_user_datetime_0" placeholder="YYYY-MM-DD">


                                                time:
                                                <input type="time" name="user_time"
                                                       class="vTimeField form-control border-dark"
                                                       id="id_user_datetime_1">


                                            </div>

                                            <div>
                                                <button type="submit"
                                                        class="btn btn-dark justify-content-end">{% trans 'Add' %}
                                                </button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>

                            <hr class="my-4">

                            <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
                                <form method="get" class="me-3">
                                    {#                                    <p class="small mb-0 me-2 text-right font-weight-bold text-dark">#}
                                    {#                                        :{% trans 'Filter' %}</p>#}
                                    {#                                    <br>#}
                                    <select class="form-select border-dark text-dark fw-bold bg-light shadow"
                                            onchange="this.form.submit();"
                                            name="filter" aria-label="size 3 select example">
                                        <option selected disabled>{% trans '--Apply filter--' %}</option>
                                        <option value="all">{% trans 'All' %}</option>
                                        <option value="done">{% trans 'Completed' %}</option>
                                        <option value="actives">{% trans 'Active' %}</option>

                                    </select>
                                </form>

                                <form action="{% url 'apply_todo_actions' todo.id %}" method="post">
                                    {% csrf_token %}

                                    <select class="form-select border-dark text-dark fw-bold bg-light shadow"
                                            onchange="this.form.submit();" name="action">
                                        <option selected disabled>{% trans 'actions' %}</option>
                                        {% if todo.jobs.exists %}

                                            <option value="1">{% trans 'clear this list' %}</option>

                                            {% if todo.get_jobs %}
                                                <option value="2">{% trans 'delete finished jobs' %}</option>
                                            {% endif %}

                                            <option value="3">{% trans 'make all jobs active' %}</option>

                                            <option value="4">{% trans 'check all jobs' %}</option>


                                        {% else %}
                                            <option class="text-center " disabled>
                                                <p class="text-dark fw-bolder">{% trans 'List is empty' %}</p>
                                            </option>

                                        {% endif %}
                                    </select>
                                </form>


                            </div>
                            {% if user_jobs %}


                                <ul class="list-group">
                                    {% for user_job in user_jobs %}

                                        <li class="list-group-item d-flex justify-content-between align-items-center  border-2">
                                            <div class="form-check">
                                                <form method="post">
                                                    {% csrf_token %}
                                                    {% if user_job.is_done %}
                                                        <input class="form-check-input me-0" type="checkbox" value=""
                                                               id="checkboxuser"
                                                               aria-label="..."
                                                               onchange="this.form.submit();"
                                                               checked/>
                                                        <input type="hidden" name="{{ user_job.id }}">
                                                    {% else %}
                                                        <input class="form-check-input me-0" type="checkbox" value=""
                                                               id="checkboxuser"
                                                               aria-label="..." onchange="this.form.submit();"
                                                               name="{{ user_job.id }}"/>
                                                    {% endif %}
                                                </form>
                                                {% if user_job.is_done %}
                                                    <a href="{{ todo.get_absolute_url }}/{{ user_job.id }}/"
                                                       style="color:#000000"><p
                                                            class="lead fw-normal mb-0">
                                                        <strike>{{ user_job.text|truncatechars:30 }}</strike></a>
                                                    </p>
                                                {% else %}
                                                    <a href="{{ todo.get_absolute_url }}{{ user_job.id }}/"
                                                       style="color:#000000"><p
                                                            class="lead fw-normal mb-0">{{ user_job.text|truncatechars:30 }}</p>
                                                    </a>
                                                {% endif %}


                                                <p class="small mr-lg-3  mb-0 text-muted" title="Created date"><i
                                                        class="fas fa-info-circle me-2"></i>{% trans 'created' %}:
                                                    {{ user_job.datetime_created|to_jalali:'%Y %B %d'|translate_numbers }}
                                                </p>

                                            </div>
                                            {% if user_job.user_date or user_job.user_time %}
                                                <div class="py-2 px-3 me-2 border border-warning rounded-3 d-flex  align-items-center bg-light">
                                                    <p class="small mb-0">
                                                        {% if user_job.user_date %}
                                                            <i class="fas fa-hourglass-half me-2 text-warning"></i>
                                                            {{ user_job.user_date|to_jalali:'%Y %B %d'|translate_numbers }}

                                                        {% endif %}

                                                        {% if user_job.user_time %}

                                                            <i class="fas fa-solid fa-clock me-2 text-info ml-1"></i>
                                                            {{ user_job.user_time|translate_numbers }}
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            {% endif %}
                                            <div class="image-parent form-inline">
                                                <form action="{% url 'job_delete' user_job.id %}" method="post"
                                                      class="ml-auto">
                                                    {% csrf_token %}
                                                    <button type="submit" class="text-danger bg-transparent border-0"
                                                            data-mdb-toggle="tooltip"
                                                            title="Delete todo"><i
                                                            class="fa fa-trash-alt"></i></button>
                                                </form>

                                            </div>
                                        </li>
                                    {% endfor %}


                                </ul>
                            {% else %}
                                <h3>{% trans 'Nothing to see here' %}</h3>

                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock content %}



