{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load jalali_tags %}
{% load persian_trans_tags %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock links %}


{% block title %}<<{{ todo.name }}>> {% trans 'your baranjam list' %}{% endblock title %}



{% block content %}

    <style>
        @media (min-width: 1200px) {
            .responsive-font-example {
                font-size: 23px;
            }
        }


        {#@media (max-width: 1199.98px) {#}
        {#    .responsive-font-example {#}
        {#        font-size: 10px;#}
        {#    }#}
        {
        #}#}
    </style>

    <section>
        <div class="container py-3 ">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col">
                    <div class="card rounded-2" id="list1" style="border-radius: 5px; background-color: #e2e4e5;">
                        <div class="card-body  " style="background-color: #f4623a;">

                            <h1 class=" text-center mt-3 mb-4 pb-3 text-dark">
                                <i class="fas fa-check-square me-1"></i>
                                {{ todo.name|capfirst }}</h1>
                            {% if user != todo.user %}
                                <p class="text-muted text-center">{% trans 'owner' %}: {{ todo.user }}</p>
                            {% else %}
                                <p class="text-muted text-center">{% trans 'my todo-s' %}</p>

                                <div class="pb-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <form action="{% url 'job_create' todo.id %}" method="post">
                                                {% csrf_token %}
                                                {{ form.media }}
                                                <div class="row">

                                                    <div class="col-3">
                                                        <input type="text"
                                                               class="form-control"
                                                               style="border:#f4623a solid 2px;"
                                                               placeholder="{% trans 'Name' %}" name="text"
                                                               required>
                                                    </div>

                                                    <div class="col-3">
                                                        <input type="text" name="user_date"
                                                               class="jalali_date-date form-control"
                                                               style="border:#f4623a solid 2px;"
                                                               id="id_user_datetime_0"
                                                               placeholder="{% trans 'Date' %}">
                                                    </div>
                                                    <div class="col-3">
                                                        <input type="time" name="duration"
                                                               class=" form-control "
                                                               id="id_user_datetime_1"
                                                               style="border:#f4623a solid 2px;"
                                                               placeholder="{% trans "Duration" %}">
                                                    </div>
                                                    <div class="col-3 align-self-center text-center">
                                                        <button type="submit"
                                                                class="btn btn-dark"
                                                                style="width: 80%">{% trans 'Add' %}
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>

                                <hr class="my-4">

                                <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
                                    <form method="get" class="me-3">

                                        <select class="form-select text-dark  bg-light shadow"
                                                onchange="this.form.submit();"
                                                name="filter" aria-label="size 3 select example">
                                            {% if todo.jobs.exists %}

                                                <option selected disabled>{% trans '--Apply filter--' %}</option>
                                                <option value="all">{% trans 'All' %}</option>
                                                <option value="done">{% trans 'Completed' %}</option>
                                                <option value="actives">{% trans 'Active' %}</option>
                                            {% else %}
                                                <option class="text-center " disabled selected>
                                                    {% trans 'List is empty' %}
                                                </option>
                                            {% endif %}
                                        </select>
                                    </form>

                                    <form action="{% url 'apply_todo_actions' todo.id %}" method="post">
                                        {% csrf_token %}

                                        <select class="form-select  text-dark bg-light shadow"
                                                onchange="this.form.submit();" name="action">
                                            <option selected disabled>{% trans 'actions' %}</option>
                                            {% if todo.jobs.exists %}

                                                <option value="1">{% trans 'clear this list' %}</option>

                                                {% if todo.get_jobs %}
                                                    <option value="2">{% trans 'delete finished jobs' %}</option>
                                                {% endif %}

                                                <option value="3">{% trans 'make all jobs active' %}</option>

                                                <option value="4">{% trans 'check all jobs' %}</option>


                                            {% else %}
                                                <option class="text-center " disabled>
                                                    {% trans 'List is empty' %}
                                                </option>

                                            {% endif %}
                                        </select>
                                    </form>
                                </div>
                            {% endif %}
                            {% if user_jobs %}
                                <ul class="list-group">
                                    {% for user_job in user_jobs %}

                                        <li class="list-group-item  align-items-center  border-2 ">
                                            <div class="row">

                                                <div class="form-check col ml-1">
                                                    {% if user == todo.user %}

                                                        <form method="post" action="{% url 'job_assign' user_job.id %}">
                                                            {% csrf_token %}
                                                            {% if user_job.is_done %}
                                                                <input class="form-check-input me-0" type="checkbox"
                                                                       onchange="this.form.submit();"
                                                                       checked/>

                                                            {% else %}
                                                                <input class="form-check-input me-0" type="checkbox"
                                                                       onchange="this.form.submit();"/>
                                                            {% endif %}
                                                        </form>
                                                    {% endif %}
                                                    {% if user_job.is_done %}
                                                        <a href="{{ todo.get_absolute_url }}{{ user_job.id }}/"
                                                           style="color:#000000;text-decoration: none;">
                                                            <p class="lead fw-normal mb-0">
                                                                <del >{{ user_job.text|truncatechars:30 }}</del>
                                                            </p>
                                                        </a>
                                                    {% else %}
                                                        <a href="{{ todo.get_absolute_url }}{{ user_job.id }}/"
                                                           style="color:#000000;text-decoration: none;">
                                                            <p class="lead fw-normal mb-0 " >
                                                                {{ user_job.text|truncatechars:25 }}
                                                            </p>
                                                        </a>
                                                    {% endif %}




                                                    {% if user_job.is_done %}
                                                        <p class="small mr-lg-3  mb-0 text-muted">
                                                            done date:

                                                            {{ user_job.user_done_date|to_jalali:'%Y %B %d'|translate_numbers }}

                                                        </p>
                                                    {% else %}
                                                        <p class="small mr-lg-3  mb-0 text-muted">
                                                            created:

                                                            {{ user_job.datetime_created|to_jalali:'%Y %B %d'|translate_numbers }}
                                                        </p>
                                                    {% endif %}

                                                </div>
                                                {% if user_job.duration %}
                                                    <div class=" border text-center border-warning rounded-3 align-self-center bg-light"
                                                         style="width: 120px;">

                                                        <i class="fas fa-solid fa-clock  text-info "></i>
                                                        {{ user_job.get_duration }}
                                                    </div>
                                                {% endif %}

                                                {% if user_job.user_date %}

                                                    <div class=" border text-center border-warning rounded-3 align-self-center bg-light"
                                                         style="width: 140px;">

                                                        <i class="fas fa-hourglass-half text-warning"></i>
                                                        {{ user_job.user_date|to_jalali:'%Y %B %d'|translate_numbers }}


                                                    </div>
                                                {% endif %}

                                                {% if todo.user == user %}
                                                    <div class="col form-inline ">
                                                        <form action="{% url 'job_delete' user_job.id %}" method="post"
                                                              class="ml-auto">

                                                            {% csrf_token %}
                                                            <button type="submit"
                                                                    class="text-danger bg-transparent border-0"
                                                                    data-mdb-toggle="tooltip"
                                                                    title="Delete todo"><i
                                                                    class="fa fa-trash-alt"></i></button>
                                                        </form>


                                                    </div>
                                                {% endif %}
                                            </div>

                                        </li>
                                    {% endfor %}


                                </ul>
                            {% else %}
                                <h3>{% trans 'Nothing to see here' %}</h3>

                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>





{% endblock content %}



