{% extends '_base.html' %}
{% load i18n %}


{% block title %}{% trans 'Delete Todo-list' %}{% endblock title %}


{% block content %}
    {% get_current_language as LANGUAGE %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 center-container" >

                <div class="card shadow ">
                    <div class="card-title text-center mt-2">
                        <h5>{% if LANGUAGE == 'fa' %} ؟({{ todo.name }}) {% endif %}
                            {% trans 'Are you sure you want to  permenantly delete' %}
                            {% if LANGUAGE != 'fa' %} ({{ todo.name }})? {% endif %}
                        </h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">

                                <button type="submit" class="btn btn-primary w-75 text-dark" id="yes-btn">{% trans 'Yes, Delete' %}</button>

                                <a href="{% url 'user_todos' %}" class="btn btn-dark mt-2 w-75" id="no-btn">{% trans 'No back ' %}</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}