{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load jalali_tags %}
{% load persian_trans_tags %}
{% load i18n %}

{% block meta %}

    <meta name="description" content="Create and use new baranjam lists">

{% endblock meta %}


{% block title %}Baranjam list{% endblock title %}




{% block content %}

    <div class="container-fluid" >
        <div class="card shadow bg-dark mt-5">
            <div class="card-header " style="background-color: #f4623a;">

                <a href="" class="float-start btn btn-dark text-left" data-bs-toggle="modal"
                   data-bs-target="#exampleModal">{% trans 'Add todo-list' %}</a>
                {% if todos %}

                    <h2 class=" text-white text-right">{% trans 'Your todo lists' %}</h2>
                {% else %}
                    <h2 class=" text-white text-right">{% trans 'Add todo-list to start' %}</h2>
                {% endif %}
            </div>
            <div class="card-body bg-dark">


                <ol class="list-group list-group-flush list-group-numbered shadow-lg border-3">
                    {% for todo in todos %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">

                            <div class="ms-2 me-auto">
                                <div class="fw-bold"><a href="{{ todo.get_absolute_url }}">{{ todo.name }}
                                    <span class="badge bg-primary rounded-pill ml-1 " style="font-size: 14px;">{{ todo.jobs.all|length|translate_numbers }}</span></a>
                                </div>
                                {{ todo.datetime_created|to_jalali:'%Y %B %d'|translate_numbers }}
                            </div>

                            <div class="mr-auto text-center my-auto">
                                <p><span class="fw-bolder"
                                         style="color:#f4623a; ">{% trans 'finished' %}:</span><span
                                        class="ml-2 badge bg-success rounded-pill  mt-0"> {{ todo.get_jobs|length }}</span>
                                </p>
                            </div>


                            <form action="{% url 'todo_delete' todo.id %}" method="post" class="ml-2">
                                {% csrf_token %}
                                <button type="submit" class="btn text-danger shadow  border-secondary rounded-pill "
                                        value>

                                    <span class="fa fa-solid fa-trash px-3 "></span>
                                </button>
                            </form>
                        </li>




                    {% endfor %}
                </ol>
            </div>

            <!-- Modal add-->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="text ml-lg-3" id="exampleModalLabel"
                                style="color:#f4623a;">{% trans 'Add a new list' %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="d-flex justify-content-end">

                                <form action="{% url 'add_todo' %}" class="form-inline" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="name" class="form-control form-text"
                                           placeholder="{% trans 'Add Todo-list' %}" required>
                                    <button type="submit"
                                            class="btn  ml-3 mr-0"
                                            style="background-color: #f4623a;">{% trans 'Submit' %}</button>
                                </form>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger mr-0"
                                    data-bs-dismiss="modal">{% trans 'Close' %}</button>

                        </div>
                    </div>
                </div>
            </div>
            <!--Modal add-->


        </div>
    </div>

    {% include 'footer.html' %}

{% endblock content %}