{% extends '_base.html' %}

{% load static %}
{% load i18n %}

{% block meta %}
    <meta name="description" content="Login so you can use All baranjam's services">
{% endblock meta %}


{% block title %}Login to Baranjam app{% endblock title %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center  text  mt-5" style="color:#f4623a;">{% trans 'Login' %}</h2>

                <div class="card my-5">

                    <form class="card-body cardbody-color p-lg-5" method="post">
                        {% csrf_token %}

                        {% if form.non_field_errors %}


                            <div class="d-flex justify-content-center text-danger my-3" dir="rtl">
                                {{ form.non_field_errors }}
                            </div>


                        {% endif %}
                        <div class="text-center">
                            <img src="{% static 'icons/todo_icon.png' %}"
                                 class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                                 width="300px" alt="profile">
                        </div>

                        <div class="my-3" dir="rtl">

                            <input type="email" class="form-control form" id="Username" aria-describedby="emailHelp"
                                   placeholder="{% trans 'Email' %}" name="login">

                        </div>
                        <div class="my-3" dir="rtl">

                            <input type="password" class="form-control" id="password"
                                   placeholder="{% trans 'password' %}"
                                   name="password">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn text-dark fw-bolder px-5 mb-5 w-100" style="background-color: #f4623a;">{% trans 'Login' %}</button>
                        </div>
                        <div id="emailHelp" class="form-text text-black text-center mb-5">{% trans 'NotRegistered?' %}
                            <a href="{% url 'account_signup' %}"
                               class="text-dark fw-bold">{% trans 'Create an Account' %}</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


{% endblock content %}