{% extends '_base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load jalali_tags %}
{% block meta %}
    <meta name="description" content="Your profile . let us know you ">
{% endblock meta %}


{% block title %}Your Baranjam Profile{% endblock title %}

{% block content %}

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    {% if user.profile_picture %}

                        <img class="rounded-3 mt-5" width="150px"
                             src="{{ user.profile_picture.url }}">

                    {% else %}

                        <img class="rounded-circle mt-5" width="150px"
                             src="{% static 'img/blank_user.png' %}">

                    {% endif %}
                    <span class="font-weight-bold">{{ user.username }}</span><span
                        class="text-black-50">{{ user.email }}</span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-center" style="color:#f4623a;">{% trans 'Profile Information' %}</h4>
                    </div>

                    <div class="row mt-3 text-right text-dark" dir="rtl">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            {{ form.media }}
                            <div class="mt-5 text-center">
                                <button class="btn text-dark fw-bold profile-button mb-4"
                                        type="submit"
                                        style="background-color: #f4623a;">{% trans 'Save Profile' %}</button>
                            </div>

                        </form>

                    </div>

                </div>
            </div>

        </div>
    </div>
    {% include 'footer.html' %}

{% endblock content %}