{% extends '_base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load jalali_tags %}
{% block meta %}
    <meta name="description" content="Your profile . let us know you ">
{% endblock meta %}


{% block title %}{% trans 'Your Baranjam Profile' %}{% endblock title %}

{% block content %}
    {% get_current_language as LANGUAGE %}

    <div class="container mt-3" {% if LANGUAGE == 'fa' %} dir="rtl" style="text-align: right;" {% endif %}>
        <img src="{{ user.get_profile_pic_or_blank }}" alt="" class="profile_image">

        <form method="post" class=" pb-lg-5" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">{% trans 'Submit' %}</button>
        </form>
    </div>


    {% include 'footer.html' %}

{% endblock content %}