{% extends '_base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}



    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <h2 class="text-center text mt-5" style="color:#f4623a;">{% trans 'Signup' %}</h2>

                <div class="card my-5">

                    <form class="card-body cardbody-color p-lg-5" method="post">
                        <div>
                            {{ form.non_field_errors }}
                        </div>
                        {% csrf_token %}
                        <div class="text-right" dir="rtl">

                            {{ form|crispy }}
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn text-dark fw-bolder px-5 mb-5 w-100 mt-lg-3" style="background-color: #f4623a;">{% trans 'Signup' %}</button>
                        </div>
                        <div id="emailHelp"
                             class="form-text text-right mb-5 text-dark">{% trans 'Already Registered?' %}
                            <a href="{% url 'account_login' %}" class="text-dark fw-bold">{% trans 'Login' %}</a>
                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>


{% endblock content %}