{% extends '_base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}


{% block content %}
    <style>
        body {
            background-color: #f0f4f7;
        }
    </style>


    <div class="container my-lg-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 ml-auto mr-auto">
                <div class="card">
                    <h2 class="text-center mt-3 text-primary">{% trans 'Signup' %}</h2>
                    <form class="card-body p-lg-5" method="post">

                        {% if form.non_field_errors %}
                            <div class="d-flex justify-content-center text-danger my-2"
                                 {% if LANGUAGE == 'fa' %}dir="rtl"{% endif %}>
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                        {% csrf_token %}
                        <div>
                            <div class="input-group mb-3 right-placeholder">
                                <input type="email" class="form-control" placeholder="{% trans 'Email' %}" name="email"
                                       required>
                                <span class="input-group-text icon">&#xf0e0;</span>
                            </div>
                            <span {% if LANGUAGE == 'fa' %}dir="rtl"{% endif %}class="text-danger">
                                {{ form.email.errors }}
                            </span>


                            <div class="input-group mb-3 right-placeholder">
                                <input type="text" class="form-control" placeholder="{% trans 'username' %}"
                                       name="username" required>
                                <span class="input-group-text icon">&#xf007;</span>
                            </div>
                            <span {% if LANGUAGE == 'fa' %}dir="rtl"{% endif %} class="text-danger ">
                                {{ form.username.errors }}
                            </span>

                            <div class="input-group mb-3 right-placeholder">
                                <input type="password" class="form-control " placeholder="{% trans 'password' %}"
                                       name="password1" required>
                                <span class="input-group-text icon">&#xf023;</span>

                            </div>
                            <span {% if LANGUAGE == 'fa' %}dir="rtl"{% endif %} class="text-danger">
                                {{ form.password1.errors }}
                            </span>

                            <div class="float-end mb-3" dir="rtl">

                                <input type="checkbox" onclick="show_pass()" class="mt-3 ">
                                <label class="mt-3">{% trans "Show password" %}</label>
                            </div>

                            <div dir="rtl" class="mb-5 mt-5">

                                {{ form.captcha }}
                            </div>
                            <span class="text-danger" {% if LANGUAGE == 'fa' %}dir="rtl"{% endif %}>
                                {{ form.captcha.errors }}
                            </span>


                        </div>

                        <div class="my-3">
                            <button type="submit" class="btn text-dark fw-bolder btn-primary w-100 ">
                                {% trans 'Signup' %}
                            </button>
                        </div>
                        <div class="form-text text-black my-2"
                             {% if LANGUAGE == 'fa' %}dir="rtl"{% endif %}>{% trans 'Already Registered?' %}
                            <a href="{% url 'account_login' %}" class="text-dark fw-bold">{% trans 'Login' %}</a>
                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>

    {% include 'footer.html' %}

    <script>

        function show_pass() {

            var password_field = document.getElementById('password1');
            if (password_field.type === 'password') {
                password_field.type = "text";
            } else {
                password_field.type = 'password';
            }
        }

        $('#email').on('keyup', function () {
            var input = $(this);
            if (input.val().length === 0) {
                input.addClass('empty');
            } else {
                input.removeClass('empty');
            }
        });


    </script>
{% endblock content %}





