<!doctype html>
{% load i18n %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% trans 'Join Group' %}</title>
    <link rel="stylesheet" href="{% static 'css/foreign_invite_styles.css' %}">
</head>
<body>
<style>

</style>


{% if messages %}
    <div id="msg_container">
        {% for message in messages %}
            {{ message|safe }}
        {% endfor %}
    </div>
{% endif %}

<section id="group_info">
    <div id="img_div">

        <img src="{{ group.get_group_picture_or_blank }}" alt="group picture" id="group_img">
    </div>
    <h1>{{ group.title }}</h1>
    <p>{{ group.description }}</p>
    <form action="{% url 'accept_inv_foreign' group.id %}" method="post">
        {% csrf_token %}
        <button type="submit">{% trans 'Join Group' %}</button>
    </form>
</section>


</body>
</html>




