{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}

{% endblock title %}


{% block content %}


    <div class="container-fluid">
        <div class="col-md-9 center-container">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h1>{% trans 'Update group' %} ( {{ group.title }} )</h1>

                </div>
                <div class="card-body">
                    <img src="{{ group.get_group_picture_or_blank }}" alt="group_picture"
                         class="center-image profile_image">
                    <form method="post" class="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success {% if LANGUAGE == 'fa' %}float-end{% endif %}">
                            {% trans 'Submit' %}
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>





{% endblock content %}