{% extends '_base.html' %}
{% load i18n %}
{% load static %}
{% load jalali_tags %}
{% block title %}

{% endblock title %}

{% block content %}
    <style>

        .not-visible {
            display: none;
        }

        .image-circle {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    </style>


    {% get_current_language as LANGUAGE %}

    <div class="container-fluid" style="margin-top:2rem;">
        <div class="row align-items-start">

            <div class="col-md-5 mb-5">
                <div class="card shadow">
                    <h1 class="card-header  text-center "
                        style="background-color: #f4623a;">{{ group.title|capfirst }}</h1>
                    <div class="card-body border-3 border-dark">

                        <div class="row ">

                            <div class="col ">
                                <img src="{{ group.get_group_picture_or_blank }}" alt="" width="120" height="120"
                                     style="display: block; margin: 0 auto;">
                            </div>
                            <div class=" card shadow  mt-3 p-2 ">
                                <div class="row">

                                    <p class="col">{% trans 'Invitation Link' %}</p>
                                    <button class="btn-sm btn-outline-success col-md-2 mr-3"
                                            onclick="navigator.clipboard.writeText('{{ group.get_invitation_link }}')">{% trans 'Copy link' %}</button>
                                </div>
                                <p style="font-size: 13px; border:1px solid #f4623a; padding:2px;"
                                   class="mt-3">{{ group.get_invitation_link }}</p>
                            </div>

                            <div class="">
                                <p>{{ group.description|linebreaks }}</p>

                            </div>


                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-7 ">

                <div class="card shadow ">
                    <div class="card-header">

                        <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="true" data-bs-toggle="tab"
                                   href="#todos">{% trans 'Todo-Lists' %}</a>
                            </li>
                            {% if group.enable_chat %}
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#chat">{% trans 'Chat' %}</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#members">{% trans 'Members' %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body tab-content">
                        <!-- group data -->


                        <!-- todos section -->
                        <div class="tab-pane" id="todos">

                            <div class="card shadow bg-dark">

                                <div class="card-header flex-row" style="background-color: #f4623a;">

                                    <div class="col">

                                        <div class="{% if  LANGUAGE == 'en' %} justify-content-end {% else %} justify-content-start{% endif %} "></div>
                                        <h2 class=" text-white {% if  LANGUAGE == 'fa' %} text-right {% endif %}">{% trans 'Group todos' %}</h2>
                                    </div>

                                </div>
                                <div class="card-body bg-dark">

                                    {% if todos %}
                                        <ol class="list-group list-group-flush list-group-numbered shadow-lg border-3">
                                            {% for todo in todos %}
                                                <li class="list-group-item d-flex justify-content-between align-items-start">

                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold"><a
                                                                href="{{ todo.get_absolute_url }}">{{ todo.name }}</a>

                                                        </div>
                                                    </div>
                                                    <div class="mr-auto text-center my-auto">
                                                        <p><span class="fw-bolder"
                                                                 style="color:#f4623a; ">{% trans 'undone Jobs' %}:</span><span
                                                                class="ml-2 badge bg-success rounded-pill  mt-0"> {{ todo.get_jobs| length }}</span>
                                                        </p>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ol>
                                    {% else %}
                                        <p class="text-white {% if  LANGUAGE == 'fa' %} text-right {% endif %}">{% trans 'there is no saved todo list for this group ' %}</p>

                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- members section -->
                        <div class="tab-pane" id="members">
                            <div class="col align-self-center">
                                <div class="row">
                                    <div class="col-md-9">

                                        <h4 class="">{% trans 'Group members' %}</h4>
                                    </div>
                                    {% if user in group.admins.all %}

                                        <div class="col">
                                            <button type="button" data-bs-toggle="modal" data-bs-target="#InvUsers"
                                                    class="btn btn-info">{% trans 'invite users' %}</button>
                                        </div>

                                    {% endif %}

                                </div>
                                <hr class="mx-auto w-100">

                                {% for admin in group.admins.all %}
                                    <div class="col mb-4">


                                        <img src="{{ admin.get_profile_pic_or_blank }}" alt="profile_pic" width="55"
                                             height="55">

                                        <span class="ml-2 mr-2">{{ admin.username }}</span>
                                        <span class="badge bg-info rounded-pill mb-3">{% trans 'admin' %}</span>
                                        {% if user == group.admins.first  and admin != group.admins.first %}

                                            <div class="dropdown-center float-right">
                                                <button class="btn btn-secondary dropdown-toggle border-0" type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                    :
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <form action="{% url 'manage_members_grade' group.id %}" method="post">
                                                            {% csrf_token %}
                                                            <button class="dropdown-item" name="{{ admin.id }}"
                                                                    type="submit"><i
                                                                    class="fas fa-user text-info mr-2"></i>{% trans 'degrade to member' %}
                                                            </button>

                                                        </form>
                                                    </li>

                                                    <li>
                                                        <form action="{% url 'remove_group_member' group.id %}"
                                                              method="post">
                                                            {% csrf_token %}
                                                            <button class="dropdown-item" name="{{ admin.id }}"><i
                                                                    class="fas fa-trash text-danger mr-2"></i>
                                                                {% trans 'Remove member' %}
                                                            </button>
                                                        </form>

                                                    </li>


                                                </ul>
                                            </div>
                                        {% endif %}

                                    </div>
                                {% endfor %}
                                {% for member in group.members.all %}
                                    <div class="col mb-4">


                                        <img class="rounded" src="{{ member.get_profile_pic_or_blank }}" alt="prof_pic"
                                             width="55" height="55">
                                        <span class="ml-2 mr-2">{{ member.username }}</span>

                                        {% if user in group.admins.all %}


                                            <div class="dropdown-center float-right">
                                                <button class="btn btn-info btn-sm dropdown-toggle "
                                                        type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false"
                                                        style="border:none; ">
                                                    :
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <form action="{% url 'manage_members_grade' group.id %}"
                                                              method="post">
                                                            {% csrf_token %}
                                                            <button class="dropdown-item" type="submit"
                                                                    name="{{ member.id }}"><i
                                                                    class="fas fa-user-plus text-success mr-2"></i>{% trans 'promote to admin' %}
                                                            </button>

                                                        </form>
                                                    </li>
                                                    <li>
                                                        <form action="{% url 'remove_group_member' group.id %}"
                                                              method="post">
                                                            {% csrf_token %}
                                                            <button class="dropdown-item" name="{{ member.id }}"><i
                                                                    class="fas fa-trash text-danger mr-2"></i>
                                                                {% trans 'Remove member' %}
                                                            </button>
                                                        </form>

                                                    </li>


                                                </ul>
                                            </div>



                                        {% endif %}
                                    </div>

                                {% endfor %}
                            </div>
                        </div>
                        {% if group.enable_chat %}

                            <!-- chat section   -->
                            <div class="tab-pane" id="chat">
                                <div class="row">

                                    <div class="col-md-9">
                                        <diV class="card shadow ">
                                            <div class="card-header ">
                                                <div class="row">

                                                    <h6 class="col-md-9 text-center">{% trans 'Chat with group members' %}</h6>
                                                    {% if user == group.admins.first %}
                                                        <form action="{% url 'delete_chats' group.id %}" method="post"
                                                              class="col-md-3">
                                                            {% csrf_token %}
                                                            <button class=" btn btn-sm btn-warning  float-right"
                                                                    type="submit">{% trans "Delete chats" %}
                                                            </button>

                                                        </form>
                                                    {% endif %}
                                                </div>

                                            </div>
                                            <div class="card-body">
                                                <div id="id_chat_item_container"
                                                     style="max-height: 220px; overflow-y:auto;">
                                                    {% for message in group_chats %}

                                                        {% if user == message.user %}
                                                            <div class="mb-2" dir="rtl">

                                                                <img src="{{ message.user.get_profile_pic_or_blank }}"
                                                                     alt="user-img" width="50" height="50"
                                                                     class="float-right">

                                                                <div class="col-md-4 card shadow"
                                                                     style="background-color: rgba(130,243,183,0.72)  ">
                                                                    <p style="font-size: 12px;"><span
                                                                            class="float-right">{{ message.user.username }} </span>
                                                                        <span class="float-left"
                                                                              dir="ltr">{{ message.datetime_created|to_jalali:'%Y %B %d' }}</span>
                                                                    </p>

                                                                    <span dir="ltr">{{ message.text }}</span>
                                                                </div>
                                                            </div>
                                                        {% else %}
                                                            <div class="mb-2">

                                                                <img src="{{ message.user.get_profile_pic_or_blank }}"
                                                                     alt="user-img" width="50" height="50"
                                                                     class="float-left">

                                                                <div class="col-md-4 card shadow"
                                                                     style="background-color:rgba(47,193,239,0.68)">
                                                                    <p style="font-size: 12px;"><span
                                                                            class="float-left">{{ message.user.username }} </span>
                                                                        <span class="float-right"
                                                                              dir="ltr">{{ message.datetime_created|to_jalali:'%Y %B %d' }}</span>
                                                                    </p>

                                                                    <span>{{ message.text }}</span>
                                                                </div>
                                                            </div>
                                                        {% endif %}

                                                    {% endfor %}

                                                </div>

                                            </div>

                                        </diV>

                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="card shadow">
                                            <h6 class="card-header text-center">{% trans 'onile memebrs' %}</h6>
                                            <div class="card-body" id="online-users-container"
                                                 style="max-height: 205px; overflow-y: auto;overflow-x:auto;">

                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-9 ">
                                        <div class="card shadow">
                                            <div class="row align-items-center">


                                                <div class="col-md-10">

                                                    <input type="text" class="form-control " name="messaage"
                                                           id="id_message_send_input" required>
                                                </div>
                                                <div class="col float-right w-100 ">
                                                    <button class="text-info bg-transparent border-0 " width="90"><i
                                                            class="fas fa-paper-plane " id="id_message_send_button"></i>
                                                    </button>

                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        <!-- invite members -->
        <div class="modal fade" id="InvUsers">

            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans 'Invite users' %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'invite_members' group.id %}" method="post">
                            {% csrf_token %}

                            <div class="col mb-4">

                                <div class="mt-3">


                                    <input type="text" class="form-control-sm me-2"
                                           placeholder="{% trans 'enter users' %}" id="search_input">
                                    <br>


                                    <div class="card mt-2" id="result_box" style="max-height:200px;overflow-y: auto;">

                                    </div>


                                </div>
                            </div>

                            <hr>
                            <div class="float-right">

                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">{% trans 'Close' %}</button>
                                <button type="submit" class="btn btn-primary">{% trans 'Send Invitations' %}</button>
                            </div>
                        </form>


                    </div>

                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    {% include 'footer.html' %}



{% endblock content %}

{% block script %}
    {% if group.enable_chat %}

        <script src="{% static 'js/chat.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script>


            setupChats("{{ group.uuid }}", "{{ user.username }}");
            getOnlineUsersList('{{ group.id }}');
            search_input.addEventListener('keyup', e => {


                if (result_box.classList.contains('not-visible')) {
                    result_box.classList.remove('not-visible');
                }
                SendSearchData(e.target.value, {{ group.id }});
            })


        </script>
    {% endif %}
{% endblock script %}