{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}

{% endblock title %}


{% block content %}


    <div class="container-fluid">
        <div class="col-md-9" style="margin:2rem auto 0;">
            <div class="card shadow">
                <div class="card-header">
                    <h1>{% trans 'Update group' %} ( {{ group.title }} )</h1>

                </div>
                <div class="card-body">
                    <img src="{{ group.get_group_picture_or_blank }}" alt="group_picture"
                         style="display: block; margin:0 auto;" width="150" height="150">
                    <form method="post" class="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>





{% endblock content %}