{% extends '_base.html' %}
{% load i18n %}
{% load static %}
{% block title %}

{% endblock title %}

{% block content %}


    {% get_current_language as LANGUAGE %}

    <div class="container-fluid" style="margin-top:2rem;">
        <div class="row align-items-start">

            <div class="col-md-5 mb-5">
                <div class="card shadow">
                    <h1 class="card-header  text-center "
                        style="background-color: #f4623a;">{{ group.title|capfirst }}</h1>
                    <div class="card-body border-3 border-dark">

                        <div class="row align-items-center">

                            <div class="col ">
                                <img src="{{ group.picture.url }}" alt="" width="120" height="120"
                                     style="display: block; margin: 0 auto;">
                            </div>

                            <div class="">
                                <p>{{ group.description|linebreaks }}</p>

                            </div>


                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-7 ">

                <div class="card shadow ">
                    <div class="card-header">
                        {#                <h5 class="card-title"></h5>#}
                        <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="true" data-bs-toggle="tab"
                                   href="#todos">{% trans 'Todo-Lists' %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#members">{% trans 'Members' %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#chat">{% trans 'Chat' %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body tab-content">
                        <!-- group data -->


                        <!-- todos section -->
                        <div class="tab-pane" id="todos">

                            <div class="card shadow bg-dark">

                                <div class="card-header flex-row" style="background-color: #f4623a;">

                                    <div class="col">

                                        <div class="{% if  LANGUAGE == 'en' %} justify-content-end {% else %} justify-content-start{% endif %} "></div>
                                        <h2 class=" text-white {% if  LANGUAGE == 'fa' %} text-right {% endif %}">{% trans 'Group todos' %}</h2>
                                    </div>

                                </div>
                                <div class="card-body bg-dark">

                                    {% if todos %}
                                        <ol class="list-group list-group-flush list-group-numbered shadow-lg border-3">
                                            {% for todo in todos %}
                                                <li class="list-group-item d-flex justify-content-between align-items-start">

                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold"><a
                                                                href="{{ todo.get_absolute_url }}">{{ todo.name }}</a>

                                                        </div>
                                                    </div>
                                                    <div class="mr-auto text-center my-auto">
                                                        <p><span class="fw-bolder"
                                                                 style="color:#f4623a; ">{% trans 'undone Jobs' %}:</span><span
                                                                class="ml-2 badge bg-success rounded-pill  mt-0"> {{ todo.get_jobs| length }}</span>
                                                        </p>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ol>
                                    {% else %}
                                        <p class="text-white {% if  LANGUAGE == 'fa' %} text-right {% endif %}">{% trans 'there is no saved todo list for this group ' %}</p>

                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- members section -->
                        <div class="tab-pane" id="members">
                            <div class="col align-self-center">
                                <div class="row">
                                    <div class="col-md-9">

                                        <h4 class="">{% trans 'Group members' %}</h4>
                                    </div>
                                    {% if user in group.admins.all %}

                                        <div class="col">
                                            <button type="button" data-bs-toggle="modal" data-bs-target="#InvUsers"
                                                    class="btn btn-info">{% trans 'invite users' %}</button>
                                        </div>

                                    {% endif %}

                                </div>
                                <hr class="mx-auto w-100">

                                {% for admin in group.admins.all %}
                                    <div class="col mb-4">

                                        {% if admin.profile_picture %}
                                            <img src="{{ admin.profile_picture.url }}" alt="" width="55"
                                                 height="55">
                                        {% else %}
                                            <img src="{% static 'img/blank_user.png' %}" alt="" width="55"
                                                 height="55">
                                        {% endif %} <span class="ml-2 mr-2">{{ admin.username }}</span>
                                        <span class="badge bg-info rounded-pill mb-3">{% trans 'admin' %}</span>
                                        {% if user == group.admins.first %}

                                            <div class="dropdown-center float-right">
                                                <button class="btn btn-secondary dropdown-toggle border-0" type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                    :
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <form action="{% url 'manage_admins' group.id %}" method="post">
                                                            {% csrf_token %}
                                                            <button class="dropdown-item" name="{{ admin.id }}"
                                                                    type="submit"><i
                                                                    class="fas fa-user text-info mr-2"></i>{% trans 'degrade to member' %}
                                                            </button>

                                                        </form>
                                                    </li>
                                                    {% if admin != group.admins.first %}
                                                        <li>
                                                            <form action="{% url 'remove_group_member' group.id %}"
                                                                  method="post">
                                                                {% csrf_token %}
                                                                <button class="dropdown-item" name="{{ admin.id }}"><i
                                                                        class="fas fa-trash text-danger mr-2"></i>
                                                                    {% trans 'Remove member' %}
                                                                </button>
                                                            </form>

                                                        </li>
                                                    {% endif %}

                                                </ul>
                                            </div>
                                        {% endif %}

                                    </div>
                                {% endfor %}
                                {% for member in group.members.all %}
                                    <div class="col mb-4">

                                        {% if member.profile_picture %}
                                            <img class="rounded" src="{{ member.profile_picture.url }}" alt=""
                                                 width="55" height="55">
                                        {% else %}
                                            <img src="{% static 'img/blank_user.png' %}" alt="" width="55"
                                                 height="55">
                                        {% endif %} <span class="ml-2 mr-2">{{ member.username }}</span>

                                        {% if user in group.admins.all %}
                                            <div class="dropdown-center float-right">
                                                <button class="btn btn-secondary dropdown-toggle border-0" type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                    :
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <form action="{% url 'manage_admins' group.id %}" method="post">
                                                            {% csrf_token %}
                                                            <button class="dropdown-item" type="submit"
                                                                    name="{{ member.id }}"><i
                                                                    class="fas fa-user-plus text-success mr-2"></i>{% trans 'promote to admin' %}
                                                            </button>

                                                        </form>
                                                    </li>
                                                    <li>
                                                        <form action="{% url 'remove_group_member' group.id %}"
                                                              method="post">
                                                            {% csrf_token %}
                                                            <button class="dropdown-item" name="{{ member.id }}"><i
                                                                    class="fas fa-trash text-danger mr-2"></i>
                                                                {% trans 'Remove member' %}
                                                            </button>
                                                        </form>

                                                    </li>


                                                </ul>
                                            </div>


                                        {% endif %}
                                    </div>

                                {% endfor %}
                            </div>
                        </div>

                        <!-- chat section   -->
                        <div class="tab-pane" id="chat">
                            <div class="row">

                                <div class="col-md-9">
                                    <diV class="card shadow">
                                        <h6 class="card-header text-center">{% trans 'Chat with group members' %}</h6>
                                        <div class="card-body">
                                            <div>
{#                                                <p>hello</p>#}
{#                                                <p>aposdakd</p>#}
                                            </div>

                                        </div>

                                    </diV>

                                </div>
                                <div class="col-md-3 ">
                                    <div class="card shadow">
                                        <h6 class="card-header text-center">{% trans 'onile memebrs' %}</h6>

                                    </div>

                                </div>
                                <div class="col-md-9 ">
                                    <div class="card shadow">
                                        <form class="row">

                                            <div class="col-md-10">

                                                <input type="text" class="form-control" name="messaage">
                                            </div>
                                            <div class="col float-right w-100">
                                                <button type="submit"><i class="fas fa-paper-plane border-0 text-info" style="border:none;"></i></button>

                                            </div>
                                        </form>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- invite members -->
        <div class="modal fade" id="InvUsers">

            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans 'Invite users' %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'invite_members' group.id %}" method="post">
                            {% csrf_token %}
                            {% for user in all_users %}
                                <div class="col mb-4">

                                    {% if user.profile_picture %}
                                        <img class="rounded" src="{{ user.profile_picture.url }}" alt=""
                                             width="55" height="55">
                                    {% else %}
                                        <img src="{% static 'img/blank_user.png' %}" alt="" width="55"
                                             height="55">
                                    {% endif %} <span class="ml-2 mr-2">{{ user.username }}</span>
                                    <input type="checkbox" class="form-check float-right"
                                           style="margin-top: 1rem; width: 16px;" name="{{ user.id }}">


                                </div>

                            {% endfor %}
                            <hr>
                            <div class="float-right">

                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">{% trans 'Close' %}</button>
                                <button type="submit" class="btn btn-primary">{% trans 'Send Invitations' %}</button>
                            </div>
                        </form>


                    </div>

                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    {% include 'footer.html' %}



{% endblock content %}