{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load jalali_tags %}
{% load persian_trans_tags %}
{% load static %}

{% block links %}
    <script src="{% static 'js/jquery.min.js' %}"></script>

{% endblock links %}


{% block content %}
    {% get_current_language as LANGUAGE %}

    <div class="container-fluid">
        <div class="card shadow bg-dark mt-5">
            <div class="card-header flex-row" style="background-color: #f4623a;">

                <div class="col">

                    <div class="{% if  LANGUAGE == 'en' %} justify-content-end {% else %} justify-content-start{% endif %} ">
                        <a href="{% url 'group_create' %}" class="btn btn-dark float-end text-white">Add Group</a>

                    </div>
                    <h2 class=" text-white {% if  LANGUAGE == 'fa' %} text-right {% endif %}">{% trans 'Group lists' %}</h2>
                </div>

            </div>
            <div class="card-body bg-dark">

                {% if groups %}

                    <ol class="list-group list-group-flush list-group-numbered shadow-lg border-3">
                        {% for group in groups %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">

                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">{% if group.picture %}
                                        <img src="{{ group.picture.url }}" alt="group pic" width="45" height="45"
                                             style="margin-right:3px;">
                                    {% endif %} <a href="{{ group.get_absolute_url }}">{{ group.title }}</a>

                                    </div>
                                </div>

                                <div class="mr-auto text-center my-auto">
                                    <p><span class="fw-bolder"
                                             style="color:#f4623a; ">{% trans 'Members' %}:</span><span
                                            class="ml-2 badge bg-success rounded-pill  mt-0"> {{ group.get_all_members_length }}</span>
                                    </p>
                                </div>

                                <div class="btn-group">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        {% trans 'Options' %}
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% if user == group.admins.first %}
                                            <li>

                                                <a class="dropdown-item" href="{% url 'group_delete' group.id %}">
                                                    <i class="fas fa-trash text-danger mr-1"></i> {% trans 'Delete Group' %}
                                                </a>

                                                <a class="dropdown-item" href="{% url 'group_update' group.id %}">
                                                    <i class="fas fa-edit text-info mr-1"></i> {% trans 'Update Group' %}
                                                </a>
                                            </li>
                                        {% else %}
                                            <li><a class="dropdown-item" href="#">{% trans 'Leave group' %}</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p class="text-white {% if  LANGUAGE == 'fa' %} text-right {% endif %}">{% trans 'you have no shared group yet' %}</p>

                {% endif %}
            </div>
            <div class=""></div>
        </div>
    </div>

    {% include 'footer.html' %}

{% endblock content %}
